/* src/global.css */
@import "tailwindcss";

@plugin "daisyui" {
  themes: 
    cupcake --default,
    retro --prefersdark,
    forest;
}
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}